body {
    font-family: Comfortaa;
    text-align: center;
    background-color:#ebd6bb;
    color: #65451F;
    background-image: url('/images/joel-jasmin-forestbird-xzPMUMDDsfk-unsplash.jpg');
    background-size: cover;
}

.peg-hole {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-style: solid;
    background-color:white;
    border-color: #b58a62;
    margin: 10px;
    display: inline-block;
    overflow: hidden;
}

.triangle-row {
    text-align: center;
}

img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.btn-custom {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-bottom: 20px;
    background-color: #b58a62;
    color: white;
    border-radius: 5px;
}

.btn-custom:hover {
    background-color: #65451F;
    color: white;
}

.btn-custom:active {
    background-color: #b58a62;
    color: white;
}

.info-board {
    border-style: solid;
    background-color:rgb(255, 255, 255,0.7);
    border-color: #b58a62;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.pegs-container {
    border-style: solid;
    background-color:rgb(255, 255, 255,0.7);
    border-color: #b58a62;
    text-align: center;
    padding-top: 10px;
    border-radius: 5px;
}

.modal-body {
    text-align: left;
}

a {
    color: #b58a62;
}

.possibility {
    background-color:green;
}
